# package install
*.egg-info

# cache
__pycache__
.db_cache

# Fireworks config
fireworks-config/db.json
fireworks-config/my_launchpad.yaml

# Atomate workflow output
fw_logs
block*
launcher*
calcs

# large data files
*.json.gz
*.json.bz2
*.csv.bz2
*.pkl*
*.tar.gz

# logs
*/airss/**/*.castep

# SQS structure transformation binaries
dielectrics/plots/atat_bin

# downloaded from urls
data/others/qz3/dielectrics.json
dielectrics/render_structs/mp/*.cif
paper/figs/
